<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="assets/images/bg/page-title-1.webp">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="page-title">
          <h1 class="title">Checkout</h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active">Checkout</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Page Title/Header End -->

<!-- Checkout Section Start -->
<div class="section section-padding">
  <div class="container">

    <div class="section-title2">
      <h2 class="title">Billing details</h2>
    </div>
    <form action="#" class="checkout-form learts-mb-50">
      <div class="row"  >
        <div class="col-md-6 col-12 learts-mb-20">
          <label for="bdFirstName">FIrst Name <abbr class="required">*</abbr></label>
          <input type="text" id="bdFirstName" [(ngModel)]="dataUser.firstName" name="firstName" >
        </div>
        <div class="col-md-6 col-12 learts-mb-20">
          <label for="bdLastName">Last Name <abbr class="required">*</abbr></label>
          <input type="text" id="bdLastName" [(ngModel)]="dataUser.lastName" name="lastName" >
        </div>
        <div class="col-md-6 col-12 learts-mb-20">
          <label for="bdEmail">Email address <abbr class="required">*</abbr></label>
          <input type="text" id="bdEmail" [(ngModel)]="dataUser.email" name="email">
        </div>
        <div class="col-md-6 col-12 learts-mb-30">
          <label for="bdPhone">Phone <abbr class="required">*</abbr></label>
          <input type="text" [(ngModel)]="dataUser.phone" name="phone" >
        </div>
        <div class="col-md-6 col-12 learts-mb-20">
          <label for="bdEmail">Country <abbr class="required">*</abbr></label>
          <input type="text" [(ngModel)]="dataUser.country" name="country" >
        </div>
        <div class="col-md-6 col-12 learts-mb-30">
          <label for="bdPhone">City <abbr class="required">*</abbr></label>
          <input type="text" [(ngModel)]="dataUser.town" name="city" >
        </div>
        <div class="col-12 learts-mb-20">
          <label for="bdAddress1">Street address <abbr class="required">*</abbr></label>
          <input type="text" placeholder="House number and street name" [(ngModel)]="dataUser.streetAddress" name="streetAddress">
        </div>
        <div class="col-12 learts-mb-20">
          <label for="bdAddress2" class="sr-only">Apartment, suite, unit etc. (optional)</label>
          <input type="text"  placeholder="Apartment, suite, unit etc. (optional) ">
        </div>
        <div class="col-12 learts-mb-20">
          <label for="bdPostcode">Postcode / ZIP (optional)</label>
          <input type="text" >
        </div>
        <div class="col-12 learts-mb-20">
          <label for="bdOrderNote">Order Notes (optional)</label>
          <textarea  placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
        </div>
      </div>
    </form>
    <div class="section-title2 text-center">
      <h2 class="title">Your order</h2>
    </div>
    <div class="row learts-mb-n30">
      <div class="col-lg-6 order-lg-2 learts-mb-30">

        <div class="checkout-coupon">
          <p class="coupon-toggle">Have a coupon? <a href="#checkout-coupon-form" data-bs-toggle="collapse">Click here
              to enter your code</a></p>
          <div id="checkout-coupon-form" class="collapse">
            <div class="coupon-form">
              <p>If you have a coupon code, please apply it below.</p>
              <form [formGroup]="orderForm" class="learts-mb-n10">
                <input formControlName="couponCode" class="learts-mb-10" type="text" placeholder="Coupon code" >
                <button (click)="checkCode()" class="btn btn-dark btn-outline-hover-dark learts-mb-10">apply coupon</button>
              </form>
            </div>
          </div>
        </div>

        <div class="order-review">
          <table class="table">
            <thead>
              <tr>
                <th class="name">Product</th>
                <th class="total">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartList">
                <td class="name">{{ item.productCart.title }}&nbsp; <strong class="quantity">×&nbsp;{{ item.quantity
                    }}</strong></td>
                <td class="total"><span>{{ item.subtotal | currency:'USD':'symbol' }}</span></td>
              </tr>

            </tbody>
            <tfoot>
              <tr class="subtotal">
                <th>Subtotal</th>
                <td><span>{{ calculateCartSubtotal() | currency:'USD':'symbol' }}</span></td>
              </tr>
              <tr class="subtotal">
                <th>Sale</th>
                <td><span>{{ discountAmount | currency:'USD':'symbol' }}</span></td>
              </tr>
              <tr class="total">
                <th>Total</th>
                <td><strong><span>{{ calculateCartTotal() | currency:'USD':'symbol' }}</span></strong></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1 learts-mb-30">
        <h2 style="text-align: center;">Choose payment method</h2>
        <div class="order-payment">
          <div class="choose-pay">

            <button (click)="cash()" [class.selected]="selectedMethod === 'cash'">Cash on delivery</button>
            <button (click)="pay()" [class.selected]="selectedMethod === 'vnpay'"> VN Pay</button>
          </div>

          <div class="text-center">
            <div class="place-oder">

              <p class="payment-note">Your personal data will be used to process your order, support your experience
                throughout this website, and for other purposes described in our privacy policy.</p>
              <button (click)="order()" class="btn btn-dark btn-outline-hover-dark">place order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Checkout Section End -->
