.page-title-section{
    background-image: url(../../../assets/images/banner/banner.jpg);
    padding: 75px 0;
  }
 textarea{
    height: 100px;
    resize: none;
}

.choose-pay{
  margin-top: 5%;
}
.choose-pay button {
  margin: 5px 20px;
    width: 40%;
    border-radius: 5px;
}

.choose-pay button.selected {
  background-color: #f8796c;
  color: #ffffff;
}

.choose-pay button:hover {
  /* background-color: #e6f7ff; */
}
.place-oder{
  margin-top: 10%;
}
