body {
  display: flex;
  justify-content: space-between;
}

.col-12 {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-8 {
      width: 66.66667%;
  }

  .col-lg-4 {
      width: 33.33333%;
  }
}
.row {
  display: flex;
}

.col-12.col-lg-8 {
  flex: 0 0 66.66667%;
  background-color: #f8f9fa;
}

.col-12.col-lg-4 {
  flex: 0 0 33.33333%;
  background-color: #f8f9fa;
}
ql-bold button {
  color:black;
}
.ql-bold svg path {
  color: black; /* Change to your desired color */
}
.image-container {
  max-width: 100px; /* Đặt chiều rộng tối đa của container */
  overflow: hidden; /* Ẩn bất kỳ nội dung nào vượt quá kích thước container */
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}
/* Thêm viền trên nút xóa */
.delete-button {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 5px;
  position: relative;
}

/* Định dạng nút xóa để có màu nền đỏ và văn bản trắng */
.delete-button button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;

}
.delete-button button:hover {
  background-color: #ccc;
  color: #000; /* Màu chữ khi hover */
}
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.text-muted {
  color: #888;
}
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.position-relative {
  margin-bottom: 20px; /* Thay đổi khoảng cách giữa các div position-relative */
}

.card-img {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
