<!-- Helpers -->
<script src="/src/assets/admin/vendor/js/helpers.js"></script>
<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
<script src="/src/assets/admin/vendor/js/template-customizer.js"></script>
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="/src/assets/admin/js/config.js"></script>
<!--Content-->
<div class="container-xxl flex-grow-1 container-p-y">

  <h3 class="py-3 mb-4">
    <span class="text-muted fw-light" routerLink="/admin/productList">Product /</span><span> Product Details</span>
  </h3>
  <div class="app-ecommerce">


    <!-- Add Product -->
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">

      <div class="d-flex flex-column justify-content-center">
        <h4 class="mb-1 mt-3">Product Information</h4>
      </div>
      <div class="d-flex align-content-center flex-wrap gap-3">
        <button routerLink="/admin/productList" class="btn btn-label-secondary">Cancle </button>

        <button type="submit" class="btn btn-primary">Edit Product</button>
      </div>

    </div>


    <div class="row">
      <!-- First column-->
      <div class="col-12 col-lg-8">
        <!-- Product Information -->
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-tile mb-0">Product information</h5>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label" for="ecommerce-product-name">Name</label>
              <span class="form-control">{{ product.title }} </span>

            </div>
            <div class="row mb-3">
              <div class="col"><label class="form-label" for="ecommerce-product-barcode">Weigth</label>
                <span class="form-control" aria-label="Product Weigth" min="1">{{ product.weight }}kg</span>
              </div>
              <div class="col"><label class="form-label" for="ecommerce-product-barcode">Quantity</label>
                <span class="form-control" min="1">{{ product.quantity }}</span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col"><label class="form-label" for="ecommerce-product-sku">SKU</label>
                <span class="form-control" aria-label="Product SKU" min="1">{{ product.sku }}</span>
              </div>
              <div class="col"><label class="form-label" for="ecommerce-product-barcode">productCode</label>
                <span class="form-control" name="productBarcode" aria-label="Product barcode">{{ product.productCode
                  }}</span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col"><label class="form-label" for="ecommerce-product-barcode">Brands</label>
                <span class="form-control" aria-label="Product Weigth"> {{ product.brands }} </span>
              </div>
              <div class="col"><label class="form-label" for="ecommerce-product-barcode">Tags</label>
                <span class="form-control"> {{ product.tags }}</span>
              </div>
            </div>
            <!-- Description -->
            <div>
              <label class="form-label">Description <span class="text-muted">(Optional)</span></label>
              <span id="description" class="form-control">{{ product.description }} </span>
            </div>

            <div>
              <label class="form-label">Brands <span class="text-muted">(Comment)</span></label>
              <span id="description" class="form-control">{{ product.commentBrands }}</span>
            </div>
          </div>
        </div>
        <!-- /Product Information -->
        <!-- Media -->
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0 card-title">Media</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="image-container">
                  <img src="{{ product.path }}" alt="Product Image"
                    class="img-thumbnail">

                  <!-- Kiểm tra nếu có ảnh -->
                  <!-- <ng-container *ngIf="productImages && productImages.length > 0">
                    <img *ngFor="let image of productImages" [src]="image.path" alt="Product Image"
                      class="img-thumbnail">
                  </ng-container> -->
                  <!-- Nếu không có ảnh, hiển thị thông báo -->
                  <!-- <p *ngIf="!productImages || productImages.length === 0">Ảnh chưa có</p> -->
                </div>
              </div>
            </div>
            <a (click)="manageImages(product.productId)">Manager Images</a>
          </div>
        </div>
        <!-- /Media -->
      </div>
      <!-- /First column -->
      <!-- Second column -->
      <div class="col-12 col-lg-4">
        <!-- Pricing Card -->
        <div class="card mb-4">

          <div class="card-body">
            <!-- Base Price -->
            <div class="mb-3">
              <label class="form-label" for="ecommerce-product-price"> Price</label>
              <span class="form-control">{{ product.price | currency:'USD':'symbol' }}</span>
            </div>
            <!-- Discounted Price -->
            <div class="mb-3">
              <label class="form-label" for="ecommerce-product-discount-price">Sale</label>
              <span class="form-control">{{ product.sale | currency:'USD':'symbol' }}</span>
            </div>
            <!-- Category -->
            <div class="position-relative">
              <label class="form-label mb-1 d-flex justify-content-between align-items-center" for="category-org">
                <span>Category</span>
              </label>
              <span class="form-control">{{ category }}</span>
            </div>
          </div>
        </div>

      </div>
      <!-- /Second column -->
    </div>

  </div>
</div>
<!--End content-->
<!-- Core JS -->
<script src="/src/assets/admin/vendor/libs/jquery/jquery.js"></script>
<script src="/src/assets/admin/vendor/libs/popper/popper.js"></script>
<script src="/src/assets/admin/vendor/js/bootstrap.js"></script>
<script src="/src/assets/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/src/assets/admin/vendor/libs/hammer/hammer.js"></script>
<script src="/src/assets/admin/vendor/libs/i18n/i18n.js"></script>
<script src="/src/assets/admin/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="/src/assets/admin/vendor/js/menu.js"></script>
<script src="/src/assets/admin/vendor/libs/quill/katex.js"></script>
<script src="/src/assets/admin/vendor/libs/quill/quill.js"></script>
<script src="/src/assets/admin/vendor/libs/select2/select2.js"></script>
<script src="/src/assets/admin/vendor/libs/dropzone/dropzone.js"></script>
<script src="/src/assets/admin/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
<script src="/src/assets/admin/vendor/libs/flatpickr/flatpickr.js"></script>
<script src="/src/assets/admin/vendor/libs/tagify/tagify.js"></script>
<script src="/src/assets/admin/js/main.js"></script>
<script src="/src/assets/admin/js/app-ecommerce-product-add.js"></script>
