<div class="content-wrapper">

  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="py-3 mb-4">
      <span class="text-muted fw-light">eCommerce /</span> Product List
    </h4>

    <!-- Product List Widget -->

    <!-- Product List Table -->
    <div class="card">

      <div class="card-datatable table-responsive">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
          <div class="card-header d-flex border-top rounded-0 flex-wrap py-md-0">
            <div class="me-5 ms-n2 pe-5">
              <div class="single-widget learts-mb-40" style="margin-top: 20px;">
                <div class="widget-search">
                  <form action="#">
                    <input type="text" placeholder="Search products...." [(ngModel)]="searchTerm" name="searchTerm">
                    <button (click)="searchProductByName()"><i class="fas fa-search"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-start justify-content-md-end align-items-baseline">
              <div
                class="dt-action-buttons d-flex align-items-start align-items-md-center justify-content-sm-center mb-3 mb-sm-0">
                <div class="dt-buttons d-flex flex-wrap">
                  <button class="dt-button add-new btn btn-primary" tabindex="0" routerLink="/admin/productAdd"
                    aria-controls="DataTables_Table_0" type="button"><span><i class="bx bx-plus me-0 me-sm-1"></i><span
                        class="d-none d-sm-inline-block">Add Product</span></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <table class="datatables-products table border-top dataTable no-footer dtr-column collapsed"
            id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1211px;">
            <thead>
              <tr>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 387px;"
                  aria-label="product: activate to sort column descending" aria-sort="ascending">
                  product</th>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 119px;"
                  aria-label="category: activate to sort column ascending">category</th>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 41px;"
                  aria-label="sku: activate to sort column ascending">sku</th>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 69px;"
                  aria-label="price: activate to sort column ascending">price</th>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 31px;"
                  aria-label="qty: activate to sort column ascending">qty</th>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 89px;"
                  aria-label="status: activate to sort column ascending">status</th>
                <th rowspan="1" colspan="1" style="width: 0px;" aria-label="Actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd"
                *ngFor="let product of filteredProducts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                <td class="sorting_1">
                  <div class="d-flex justify-content-start align-items-center product-name">
                    <div class="avatar-wrapper">
                      <div class="avatar avatar me-2 rounded-2 bg-label-secondary"><img
                          src="../../../assets/images/imgProject/{{ product.path }}" alt="Product-9" class="rounded-2">
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="text-body text-nowrap mb-0">{{ product.title }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  {{ product.categoryName }}</td>
                <td><span>{{ product.sku }}</span></td>
                <td><span>{{ product.price | currency:'USD':'symbol' }}</span></td>
                <td><span>{{ product.quantity }}</span></td>
                <td>{{ product.availability }}</td>
                <td class="dtr-hidden">
                  <div class="d-inline-block text-nowrap"><button class="btn btn-sm btn-icon"><i
                        class="bx bx-edit"></i></button><button class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                      data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded me-2"></i></button>
                    <div class="dropdown-menu dropdown-menu-end m-0">
                      <a href="javascript:0;" class="dropdown-item">View   </a>
                      <a href="javascript:0;" class="dropdown-item">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row mx-2">

            <!-- phan trang -->
            <div class="pagination2" style="text-align: center;">
              <pagination-controls (pageChange)="pageChanged($event)" class="my-pagination" previousLabel="Previous"
                nextLabel="Next"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
<script src="../../../assets/admin/vendor/js/helpers.js"></script>
<script src="../../../assets/admin/vendor/js/template-customizer.js"></script>
<script src="../../../assets//admin//js/config.js"></script>
<script src="../../../assets/admin/vendor/libs//jquery/jquery.js"></script>
<script src="../../../assets/admin/vendor/libs/popper/popper.js"></script>
<script src="../../../assets/admin/vendor/js/bootstrap.js"></script>
<script src="../../../assets/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../../../assets/admin/vendor/libs/hammer/hammer.js"></script>
<script src="../../../assets/admin/vendor/libs/i18n/i18n.js"></script>
<script src="../../../assets/admin/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="../../../assets/admin/vendor/js/menu.js"></script>
<script src="../../../assets/admin/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="../../../assets/admin/vendor/libs/select2/select2.js"></script>
<script src="../../../assets/admin/js/main.js"></script>
<script src="../../../assets/admin/js/app-ecommerce-product-list.js"></script>
