a{
  text-decoration: none;
}
/* .header-scroll{
position: fixed;
} */
.topbar-section {
  background-color: #f4ede7;
  color: #696969;
  font-family:Futura;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  z-index: 101;
}

.cl-icon{
  color: #696969;
}

.cl-icon:hover{
  color: #f8796c;
}
.bgr{
  background-color: #f4ede7;
}
.section-padding{
  padding: 50px 0px;
  background-color: #f4ede7;
}
.site-main-menu>ul>li>a>.menu-text{
  font-family:Futura;
  font-size: 15px;
}

.header-logo{
  padding-top: 0px;
  padding-bottom: 0px;
}

.widget-about img{
  margin: 0px 15%;
  width: 200px;
}


.header-section, .topbar-section {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Chọn giá trị z-index phù hợp */
}





