<body>

  <!-- Topbar Section Start -->
  <div class="topbar-section section section-fluid" >
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-auto col-12">
          <p class="text-center text-md-left my-2">Free shipping for orders over $59 !</p>
        </div>
        <div class="col-auto d-none d-md-block">
          <div class="topbar-menu d-flex flex-row-reverse">
            <ul class="header-lan-curr">

              <li><a href="#">(+84) 386 169 003</a>
              </li>
            </ul>
            <ul>
              <li><a href="https://maps.app.goo.gl/xrRvj3SS5pyysBjS7" class="cl-icon"><i class="fa fa-map-marker-alt"></i>Store Location</a></li>
              <li><a href="#" class="cl-icon"><i class="fa fa-truck"></i>Order Status</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Topbar Section End -->

  <!-- Header Section Start -->
  <div class="header-section section section-fluid bg-white d-none d-xl-block">
    <div class="container">
      <div class="row align-items-center">

        <!-- Header Logo Start -->
        <div class="col-auto">
          <div class="header-logo">
            <a routerLink=""><img src="assets/images/logo/logo4.png" width="180px" height="80px"
                alt="Learts Logo"></a>
          </div>
        </div>
        <!-- Header Logo End -->

        <!-- Search Start -->
        <div class="col-auto me-auto">
          <nav class="site-main-menu site-main-menu-left menu-height-100 justify-content-center">
            <ul>
              <li class="has-children"><a href=""><span class="menu-text">Home</span></a>

              </li>
              <li class="has-children"><a routerLink="/shop"><span class="menu-text">Shop</span></a>

              </li>
              <!-- <li class="has-children"><a href="#"><span class="menu-text">Project</span></a>

              </li> -->
              <li class="has-children"><a routerLink="/aboutUs"><span class="menu-text">About Us</span></a>

              </li>
              <li class="has-children"><a routerLink="/blog"><span class="menu-text">Blog</span></a>

              </li>
              <li class="has-children"><a routerLink="contactUs"><span class="menu-text">Contact Us</span></a>

              </li>
            </ul>
          </nav>
        </div>
        <!-- Search End -->

        <!-- Search Start -->
        <div class="col-auto d-none d-xl-block">
          <div class="header2-search">
            <form action="#">
              <input type="text" placeholder="Search...">
              <button class="btn"><i class="fas fa-search"></i></button>
            </form>
          </div>
        </div>
        <!-- Search End -->

        <!-- Header Tools Start -->
        <div class="col-auto">
          <div class="header-tools justify-content-end">
            <div class="header-login">
              <a href="my-account.html"><i class="far fa-user"></i></a>
            </div>
            <div class="header-wishlist">
              <a routerLink="wishift" class="offcanvas-toggle"><span class="wishlist-count">3</span><i
                  class="far fa-heart"></i></a>
            </div>
            <div class="header-shoppingCart">
              <a routerLink="shoppingCart" class="offcanvas-toggle"><span class="cart-count">3</span><i
                  class="fas fa-shopping-cart"></i></a>
            </div>
          </div>
        </div>
        <!-- Header Tools End -->

      </div>
    </div>

  </div>
  <!-- Header Section End -->


  <router-outlet></router-outlet>

  <!-- footer -->

  <div class="footer2-section section section-padding">
    <div class="container">
      <div class="row learts-mb-n40">

        <div class="col-lg-6 learts-mb-40">
          <div class="widget-about">
            <img src="assets/images/logo/logo5.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod itaque recusandae commodi mollitia facere
              iure nisi, laudantium quis quas perferendis a minus dolores.</p>
          </div>
        </div>

        <div class="col-lg-4 learts-mb-40">
          <div class="row">
            <div class="col">
              <ul class="widget-list">
                <li><a href="#">About us</a></li>
                <li><a href="#">Store location</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Orders</a></li>
              </ul>
            </div>
            <div class="col">
              <ul class="widget-list">
                <li><a href="#">Returns</a></li>
                <li><a href="#">Support Policy</a></li>
                <li><a href="#">Size Guide</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-2 learts-mb-40">
          <ul class="widget-list">
            <li> <i class="fab fa-twitter"></i> <a href="https://www.twitter.com/">Twitter</a></li>
            <li> <i class="fab fa-facebook-f"></i> <a href="https://www.facebook.com/">Facebook</a></li>
            <li> <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/">Instagram</a></li>
            <li> <i class="fab fa-youtube"></i> <a href="https://www.youtube.com/">Youtube</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="footer2-copyright section">
    <div class="container">
      <p class="copyright text-center">&copy; 2023 learts. All Rights Reserved</p>
    </div>
  </div>


</body>
