<!--Content Start-->
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
      <span class="text-muted fw-light"></span> Order List
    </h4>

    <!-- Order List Table -->
    <div class="card">
      <div class="card-datatable table-responsive">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
          <table class="datatables-order table border-top dataTable no-footer dtr-column" id="DataTables_Table_0"
            aria-describedby="DataTables_Table_0_info" style="width: 1387px;">
            <thead>
              <tr>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 64px;"
                  aria-label="order: activate to sort column ascending">order</th>

                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;"
                  aria-label="customers: activate to sort column ascending">customers</th>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;"
                  aria-label="payment: activate to sort column ascending">payment</th>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 121px;"
                  aria-label="payment: activate to sort column ascending">total</th>
                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 156px;"
                  aria-label="status: activate to sort column ascending">status</th>

                <th rowspan="1" colspan="1" style="width: 79px;" aria-label="Actions">Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" *ngFor="let category of listOrder">
                <td><a><span class="fw-medium">#{{ category.orderId }}</span></a></td>
                <!-- <td class="sorting_1"><span class="text-nowrap">Apr 15, 2023, 10:21</span></td> -->
                <td>
                  <div class="d-flex justify-content-start align-items-center order-name text-nowrap">
                    <div class="avatar-wrapper">
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="m-0"><a  class="text-body">{{ category.lastName }}</a></h6><small
                        class="text-muted">{{ category.email }}</small>
                    </div>
                  </div>
                </td>
                <td>
                  <!-- <h6 class="mb-0 w-px-100 "><i class="bx bxs-circle fs-tiny me-2"></i>{{ category.paymentType }}</h6> -->
                  <h6 class="mb-0 w-px-100 ">
                    <i class="fa-solid fa-money-bill" *ngIf="category.paymentType === 'Cash'"></i>
                    <i class="fa-regular fa-credit-card" *ngIf="category.paymentType === 'Vnpay'"></i>
                    {{ category.paymentType }}
                  </h6>

                </td>
                <td>
                  <h6 class="mb-0 w-px-100 ">
                    <ng-container *ngIf="category.paymentType === 'Cash'">
                      {{ category.amount | currency:'USD':'symbol' }}
                    </ng-container>
                    <ng-container *ngIf="category.paymentType === 'Vnpay'">
                      {{ category.amount | currency:'VND':'symbol-narrow':'1.0-0' }}
                    </ng-container>
                  </h6>
                </td>
                <td>
                  <!-- <span class="badge px-2 bg-label-warning" text-capitalized="">{{ category.orderStatus }}</span> -->
                  <span [ngClass]="{'badge px-2 bg-label-warning': category.orderStatus !== 'Confirm', 'badge px-2 bg-label-success': category.orderStatus === 'Confirm'}" text-capitalized="">{{ category.orderStatus }}</span>
                </td>

                <td>
                  <div class="d-flex align-items-sm-center justify-content-sm-center">
                    <button (click)="updateOrder(category.orderId)" class="btn btn-sm btn-icon"><i
                        class="bx bx-edit"></i>
                    </button>
                    <button (click)="orderDetails(category.orderId)"
                      class="btn btn-sm btn-icon"><i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->
  <div class="content-backdrop fade"></div>
</div>
<!--Content End-->
<script src="/src/assets/admin/admin/vendor/js/helpers.js"></script>
<script src="/src/assets/admin/admin/vendor/js/template-customizer.js"></script>
<script src="/src/assets/admin/admin/js/config.js"></script>

<!--Core JS-->
<!-- build:js assets/vendor/js/core.js -->
<script src="/src/assets/admin/admin/vendor/libs/jquery/jquery.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/popper/popper.js"></script>
<script src="/src/assets/admin/admin/vendor/js/bootstrap.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/hammer/hammer.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/i18n/i18n.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="/src/assets/admin/admin/vendor/js/menu.js"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="/src/assets/admin/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>

<!-- Main JS -->
<script src="/src/assets/admin/admin/js/main.js"></script>
<!-- Page JS -->
<script src="/src/assets/admin/admin/js/app-ecommerce-order-list.js"></script>
<script src="/src/assets/admin/js/modal-edit-user.js"></script>
