<!-- Page Title/Header Start -->



<div class="page-title-section section">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">Contact us</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="" >Home</a></li>
                        <li class="breadcrumb-item active">Contact us</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- Page Title/Header End -->

<!-- Contact Information & Map Section Start -->
<div class="section section-padding">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title2 text-center">
            <h2 class="title">Keep in touch with us</h2>
            <p>Been tearing your hair out to find the perfect gift for your loved ones? Try visiting our nationwide
                local stores. You can also contact us to become partner or distributor. Call us, send us an email or
                make an appointment now.</p>
        </div>
        <!-- Section Title End -->

        <!-- Contact Information Start -->
        <div class="row learts-mb-n30">
            <div class="col-lg-4 col-md-6 col-12 learts-mb-30">
                <div class="contact-info">
                    <h4 class="title">ADDRESS</h4>
                    <span class="info"><i class="icon fas fa-map-marker-alt"></i> 8 Ton That Thuyet, My Dinh, Nam Tu
                        Liem, Hanoi, Vietnam</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 learts-mb-30">
                <div class="contact-info">
                    <h4 class="title">CONTACT</h4>
                    <span class="info"><i class="icon fas fa-phone-alt"></i> Mobile: (+84) 386 169 003 <br> Hotline:
                        1800 – 1102</span>
                    <span class="info"><i class="icon far fa-envelope"></i> Mail: <a
                            href="#">FptAptech@fpt.edu.vn</a></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 learts-mb-30">
                <div class="contact-info">
                    <h4 class="title"> HOUR OF OPERATION</h4>
                    <span class="info"><i class="icon far fa-clock"></i> Monday – Friday : 09:00 – 20:00 <br> Sunday &
                        Saturday: 10:30 – 22:00</span>
                </div>
            </div>
        </div>
        <!-- Contact Information End -->

        <!-- Contact Map Start -->
        <div class="row learts-mt-60">
            <div class="col">
                <iframe class="contact-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.0489629108383!2d105.78050183847726!3d21.028767398732427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b3285df81f%3A0x97be82a66bbe646b!2sDetech%20Building!5e0!3m2!1svi!2s!4v1704425836040!5m2!1svi!2s"
                    style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <!-- Contact Map End -->

    </div>
</div>
<!-- Contact Information & Map Section End -->

<!-- Contact Form Section Start -->
<div class="section section-padding pt-0">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title2 text-center">
            <h2 class="title">Send a message</h2>
        </div>
        <!-- Section Title End -->
        <form [formGroup]="formSubmit">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <div class="contact-form">

                        <div class="row learts-mb-n30">
                            <div class="col-md-6 col-12 learts-mb-30">
                                <input type="text" placeholder="Your Name *" formControlName="name">
                                
                            </div>

                            <div class="col-md-6 col-12 learts-mb-30">
                                <input type="email" placeholder="Email *" name="email" formControlName="email" >
                                <div class="cmt">
                                    <p>{{ messageMail }}</p>
                                </div>
                            </div>
                            <div class="col-12 learts-mb-30">

                                <textarea name="message" placeholder="Message" formControlName="message"></textarea>
                                <div class="cmt">
                                    <p>{{ messageInput }}</p>
                                </div>
                                
                            </div>
                            <div class="col-12 text-center learts-mb-30"><button
                                    class="btn btn-dark btn-outline-hover-dark" (click)="onSubmit()">Submit</button>
                            </div>
                        </div>

                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form Section End -->