<!-- Page Title/Header Start -->
<div class="page-title-section section"
  style="background-image: url(&quot;assets/images/about/about-banner.png&quot;); background-position:unset !important"
  data-bg-image="assets/images/about/about-banner.png">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="page-title">
          <h1 class="title">Cart</h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active">Cart</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Page Title/Header End -->

<!-- Shopping Cart Section Start -->
<div class="section section-padding">
  <div class="container">
    <form class="cart-form" action="#">
      <table class="cart-wishlist-table table">
        <thead>
          <tr>
            <th class="name" colspan="2">Product</th>
            <th class="price">Price</th>
            <th class="quantity">Quantity</th>
            <th class="subtotal">Total</th>
            <th class="remove"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartList; let i = index">
            <td class="thumbnail"><a><img src="../../../assets/images/imgProject/{{ item.productCart.path }}"
                  alt="cart-product-1"></a></td>
            <td class="name"> <a>{{ item.productCart.title }}</a></td>
            <td class="price"><span>{{ (item.productCart.price) | currency:'USD':'symbol' }}</span></td>
            <td class="quantity">
              <div class="product-quantity">
                <span class="qty-btn minus" (click)="decreaseQuantity(i)"><i class="fa fa-minus"></i></span>
                <input type="text" class="input-qty" [value]="item.quantity" (change)="updateSubtotal(i)"
                  name="quantity">
                <span class="qty-btn plus" (click)="increaseQuantity(i)"><i class="fa fa-plus"></i></span>
              </div>
            </td>
            <td class="subtotal"><span>{{ (item.productCart.price * item.quantity) | currency:'USD':'symbol' }}</span>
            </td>
            <td class="remove"><a (click)="deleteItem(item.productId)" class="btn">×</a></td>
          </tr>
        </tbody>
      </table>
    </form>
    <div class="cart-totals mt-5">
      <h2 class="title">Cart totals</h2>
      <table>
        <tbody>
          <tr class="subtotal">
            <th>Subtotal</th>
            <td><span class="amount">{{ calculateCartSubtotal() | currency:'USD':'symbol' }}</span></td>
          </tr>
          <tr class="total">
            <th>Total</th>
            <td><strong><span class="amount">{{ totalPrice | currency:'USD':'symbol' }}</span></strong></td>
          </tr>
        </tbody>
      </table>
      <a (click)="checkOut()" class="btn btn-dark btn-outline-hover-dark">Proceed to checkout</a>
    </div>
  </div>
</div>
