<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="assets/images/bg/page-title-1.webp">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-title">
          <h1 class="title">My Account</h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active">My Account</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Title/Header End -->

<!-- My Account Section Start -->
<div class="section section-padding">
  <div class="container">
    <div class="row learts-mb-n30">
      <!-- My Account Tab List Start -->
      <div class="col-lg-4 col-12 learts-mb-30">
        <div class="myaccount-tab-list nav">
          <a href="#dashboad" class="active" data-bs-toggle="tab">Account Details <i class="far fa-user"></i></a>
          <a href="#orders" data-bs-toggle="tab">Orders <i class="far fa-file-alt"></i></a>

          <a (click)="logOut()">Logout <i class="far fa-sign-out-alt"></i></a>
        </div>
      </div>
      <!-- My Account Tab List End -->

      <!-- My Account Tab Content Start -->
      <div class="col-lg-8 col-12 learts-mb-30">
        <div class="tab-content">
          <!-- Single Tab Content Start -->
          <div class="tab-pane fade show active" id="dashboad">
            <div class="myaccount-content account-details">
              <div class="account-details-form">
                <form action="#">
                  <div class="row learts-mb-n30">
                    <div class="col-md-6 col-12 learts-mb-30">
                      <div class="single-input-item">
                        <label for="first-name"> Name <abbr class="required">*</abbr></label>
                        <input type="" value="{{ userInfo?.name }}">
                      </div>
                    </div>
                    

                    <div class="col-12 learts-mb-30">
                      <label for="email">Email Addres <abbr class="required">*</abbr></label>
                      <input value="{{ userInfo?.email }}">
                    </div>
                  

                  </div>
                </form>
              </div>
            </div>

          </div>
          <!-- Single Tab Content End -->

          <!-- Single Tab Content Start -->
          <!-- Single Tab Content Start -->
          <!-- Single Tab Content Start -->
          <!-- Single Tab Content Start -->
          <!-- Single Tab Content Start -->
          <div class="tab-pane fade" id="orders">
            <div class="myaccount-content order">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>OrderId</th>
                      <th>Amount</th>
                      <th>PaymentType</th>
                      <th>OrderStatus</th>
                   

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orders">
                      <td>#{{ order.orderId }}</td>
                      <td> <ng-container *ngIf="order.paymentType === 'Cash'">
                          {{ order.amount | currency:'USD':'symbol' }}
                        </ng-container>
                        <ng-container *ngIf="order.paymentType === 'Vnpay'">
                          {{ order.amount | currency:'VND':'symbol-narrow':'1.0-0' }}
                        </ng-container>
                      </td>
                      <td>{{ order.paymentType }}</td>
                      <td>{{ order.orderStatus}}</td>
                      <!-- <td><a href="#">View</a></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Single Tab Content End -->

          <!-- Single Tab Content End -->

          <!-- Single Tab Content Start -->
          <!-- Single Tab Content End -->
        </div>
      </div> <!-- My Account Tab Content End -->
    </div>
  </div>
</div>
<!-- My Account Section End -->