<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="assets/images/bg/page-title-1.webp">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-title">
          <h1 class="title">My Account</h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active">My Account</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Title/Header End -->

<!-- My Account Section Start -->
<div class="section section-padding">
  <div class="container">
    <div class="row learts-mb-n30">
      <!-- My Account Tab List Start -->
      <div class="col-lg-4 col-12 learts-mb-30">
        <div class="myaccount-tab-list nav">
          <a href="#dashboad" class="active" data-bs-toggle="tab">Account Details <i class="far fa-user"></i></a>
          <a href="#orders" data-bs-toggle="tab">Orders <i class="far fa-file-alt"></i></a>
          <a href="#account-info" data-bs-toggle="tab">Update Password <i class="far fa-user"></i></a>
          <a (click)="logOut()">Logout <i class="far fa-sign-out-alt"></i></a>
        </div>
      </div>
      <!-- My Account Tab List End -->

      <!-- My Account Tab Content Start -->
      <div class="col-lg-8 col-12 learts-mb-30">
        <div class="tab-content">
          <!-- Single Tab Content Start -->
          <div class="tab-pane fade show active" id="dashboad">
            <div class="myaccount-content account-details">
              <div class="account-details-form">
                <form action="#">
                  <div class="row learts-mb-n30">
                    <div class="col-md-6 col-12 learts-mb-30">
                      <div class="single-input-item">
                        <label for="first-name"> Name <abbr class="required">*</abbr></label>
                        <input type="" value="{{ userInfo?.name }}">
                      </div>
                    </div>
                    <div class="col-md-6 col-12 learts-mb-30">
                      <div class="single-input-item">
                        <label for="last-name">Phone <abbr class="required">*</abbr></label>
                        <input type="text" value="{{ userInfo?.phone }}">
                      </div>
                    </div>

                    <div class="col-md-6 col-12 learts-mb-30">
                      <div class="single-input-item">
                        <label for="first-name"> Country <abbr class="required">*</abbr></label>
                        <input type="" value="{{ userInfo?.country }}">
                      </div>
                    </div>
                    <div class="col-md-6 col-12 learts-mb-30">
                      <div class="single-input-item">
                        <label for="last-name">City <abbr class="required">*</abbr></label>
                        <input type="text" value="{{ userInfo?.town }}">
                      </div>
                    </div>
                    <div class="col-md-6 col-12 learts-mb-30">
                      <div class="single-input-item">
                        <label for="first-name"> District <abbr class="required">*</abbr></label>
                        <input type="" value="{{ userInfo?.district }}">
                      </div>
                    </div>
                    <div class="col-md-6 col-12 learts-mb-30">
                      <div class="single-input-item">
                        <label for="last-name">Street address <abbr class="required">*</abbr></label>
                        <input type="text" value="{{ userInfo?.streetAddress }}">
                      </div>
                    </div>

                    <div class="col-12 learts-mb-30">
                      <label for="email">Email Addres <abbr class="required">*</abbr></label>
                      <input value="{{ userInfo?.email }}">
                    </div>

                  </div>
                </form>
              </div>
            </div>

          </div>
          <!-- Single Tab Content End -->

          <!-- Single Tab Content Start -->
          <div class="tab-pane fade " id="orders">
            <div class="myaccount-content order">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Order</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Total</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Aug 22, 2018</td>
                      <td>Pending</td>
                      <td>$3000</td>
                      <td><a href="shopping-cart.html">View</a></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>July 22, 2018</td>
                      <td>Approved</td>
                      <td>$200</td>
                      <td><a href="shopping-cart.html">View</a></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>June 12, 2017</td>
                      <td>On Hold</td>
                      <td>$990</td>
                      <td><a href="shopping-cart.html">View</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Single Tab Content End -->

          <!-- Single Tab Content Start -->
          <div class="tab-pane fade" id="account-info">
            <div class="myaccount-content account-details">
              <div class="account-details-form">
                <form [formGroup]="passwordChangeForm">
                  <div class="row learts-mb-n30">

                    <div class="col-12 learts-mb-30 learts-mt-30">
                      <fieldset>
                        <legend>Password change</legend>
                        <div class="row learts-mb-n30">
                          <div class="col-12 learts-mb-30">
                            <label for="current-pwd">Current password </label>
                            <input type="password" formControlName="current_pwd">
                            <div class="color-p">
                              <p>{{ msgCurrentPassword }}</p>
                            </div>
                          </div>
                          <div class="col-12 learts-mb-30">
                            <label for="new-pwd">New password </label>
                            <input type="password" formControlName="new_pwd">
                            <div class="color-p">
                              <p>{{ msgPassword }}</p>
                            </div>
                          </div>
                          <div class="col-12 learts-mb-30">
                            <label for="confirm-pwd">Confirm new password</label>
                            <input type="password" formControlName="confirm_pwd">
                            <div class="color-p">
                              <p>{{ msgRepassword }}</p>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <div class="col-12 learts-mb-30">
                      <button (click)="changePassword()" class="btn btn-dark btn-outline-hover-dark">Save
                        Changes</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> <!-- Single Tab Content End -->
        </div>
      </div> <!-- My Account Tab Content End -->
    </div>
  </div>
</div>
<!-- My Account Section End -->
