<!-- Edit User Modal -->
<div class="edituser" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-simple modal-edit-user">
    <div class="modal-content p-3 p-md-5" style="border-radius: 10px;">
      <div class="modal-body">
        <div class="text-center mb-4">
          <h3>Update Status Order</h3>
          <p>Updating user details will receive a privacy audit.</p>
        </div>
        <form class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
          <select id="orderStatus" class="form-select" data-placeholder="Select Ordeddddr Status" [(ngModel)]="selectedOrderStatus" name="orderStatus">
            <option value="" disabled selected>Select Order Status</option>
            <option value="{{ orderStatus }}">{{ orderStatus }}</option>
            <option value="{{ orderSuccess }}">{{ orderSuccess }}</option>
          </select>

          <div class="col-12 text-center">
            <button (click)="update()" type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
            <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal"
              (click)="Cancle()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--/ Edit User Modal -->



<script src="/src/assets/admin/admin/vendor/js/helpers.js"></script>
<script src="/src/assets/admin/admin/vendor/js/template-customizer.js"></script>
<script src="/src/assets/admin/admin/js/config.js"></script>

<!--Core JS-->
<!-- build:js assets/vendor/js/core.js -->
<script src="/src/assets/admin/admin/vendor/libs/jquery/jquery.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/popper/popper.js"></script>
<script src="/src/assets/admin/admin/vendor/js/bootstrap.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/hammer/hammer.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/i18n/i18n.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="/src/assets/admin/admin/vendor/js/menu.js"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="/src/assets/admin/vendor/libs/moment/moment.js"></script>
<script src="/src/assets/admin/admin/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="/src/assets/admin/vendor/libs/select2/select2.css"></script>
<script src="/src/assets/admin/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
<script src="/src/assets/admin/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
<script src="/src/assets/admin/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="/src/assets/admin/vendor/libs/cleavejs/cleave.js"></script>
<script src="/src/assets/admin/vendor/libs/cleavejs/cleave-phone.js"></script>
<!-- Main JS -->
<script src="/src/assets/admin/js/main.js"></script>
<!-- Page JS -->
<script src="/src/assets/admin/js/app-user-list.js"></script>
<script src="/src/assets/admin/js/modal-edit-user.js"></script>
