<div class="container">

  <div class="form-container sign-in-container">
    <form [formGroup]="signupForm">
      <h1>Sign Up</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fa fa-google-plus" style="color: red;" aria-hidden="true"></i></a>
        <a href="#" class="social"><i class="fa fa-facebook" style="color: #4267B2;" aria-hidden="true"></i></a>
        <a href="#" class="social"> <i class='fa fa-linkedin' style="color: #E1306C;"></i></a>
      </div>
      <span>or use your account</span>
      <input type="text" placeholder="UserName" formControlName="userName" />
      <div class="color-p" >
        <p>{{ msgName }}</p>
       </div>
      <input type="email" placeholder="Email" formControlName="email" />
       <div class="color-p" >
        <p>{{ msgMail }}</p>
       </div>
      <input type="password" placeholder="Password" formControlName="password" />
         <div class="color-p" >
        <p>{{ msgPassword }}</p>
       </div>
      <input type="password" placeholder="Repassword" formControlName="repassword" />
      <div class="color-p" >
        <p>{{ msgRepassword }}</p>
       </div>

      <button type="button" (click)="onClickSignUp()">LogIn</button>
      <div class="sigUp">
        <p class="">Have already an account? <a routerLink="/login" class="">Login here</a></p>
      </div>
    </form>

  </div>
</div>
