/* You can add global styles to this file, and also import other style files */
@import url('assets/css/vendor/bootstrap.min.css');
@import url('assets/css/vendor/fontawesome.min.css');
@import url('assets/css/vendor/themify-icons.css');
@import url('assets/css/vendor/customFonts.css');
@import url('assets/css/plugins/select2.min.css');
@import url('assets/css/plugins/perfect-scrollbar.css');
@import url('assets/css/plugins/swiper.min.css');
@import url('assets/css/plugins/nice-select.css');
@import url('assets/css/plugins/ion.rangeSlider.min.css');
@import url('assets/css/plugins/photoswipe.css');
@import url('assets/css/plugins/photoswipe-default-skin.css');
@import url('assets/css/plugins/magnific-popup.css');
@import url('assets/css/plugins/slick.css');
@import url('assets/css/style.min.css');
@import url('assets/admin/css/tailwind.min.css');
@import url('assets/admin/libs/filepond/filepond.min.css');
@import url('assets/admin/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css');
@import url('assets/admin/libs/vanillajs-datepicker/css/datepicker.min.css');
@import url('assets/admin/libs/mobius1-selectr/selectr.min.css');
@import url('assets/admin/libs/icofont/icofont.min.css');
@import url('assets/admin/libs/flatpickr/flatpickr.min.css');
