<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="assets/images/bg/page-title-1.webp">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="page-title">
          <h1 class="title">Shop</h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active"><a routerLink="/shop">Product</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Page Title/Header End -->

<!-- Shop Products Section Start -->
<div class="section section-padding pt-0">

  <div class="section section-fluid learts-mt-70">
    <div class="container">
      <div class="row learts-mb-n50">
        <div class="col-lg-9 col-12 learts-mb-50 order-lg-2">
          <!-- Products Start -->
          <div id="shop-products" *ngIf="!noResultsFound"
            class="products isotope-grid row row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
            <div class="grid-item col featured"
              *ngFor="let product of filteredProducts  | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
              <div class="product">
                <div class="product-thumb">
                  <a (click)="productDetails(product.productId)" class="image">
                    <span class="product-badges" *ngIf="product.sale !== null">
                      <span class="onsale">-{{ product.sale }}%</span>
                    </span>
                    <img src="../../../assets/images/imgProject/{{ product.path }}" alt="Product Image">
                  </a>
                  <a (click)="addWishift(product.productId)" class="add-to-wishlist hintT-left" data-hint="Add to wishlist"><i
                      class="far fa-heart"></i></a>
                </div>
                <div class="product-info">
                  <h6 class="title"><a>{{ product.title }}</a></h6>
                  <span class="price">
                    {{ product.price | currency:'USD':'symbol'  }}
                  </span>
                  <div class="product-buttons">
                    <a (click)="addCart(product.productId)"  data-bs-toggle="modal" class="product-button hintT-top" data-hint="Add To Cart"><i
                        class="fas fa-shopping-cart"></i></a>
                    <a (click)="productDetails(product.productId)" class="product-button hintT-top"
                      data-hint="Quick View"><i class="fas fa-search"></i></a>
                    <a (click)="addWishift(product.productId)"  class="product-button hintT-top" data-hint="Add to wishlist"><i
                        class="far fa-heart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Products End -->
          <div class="pagination2" style="text-align: center;">
            <pagination-controls (pageChange)="pageChanged($event)" class="my-pagination" previousLabel="Previous"
              nextLabel="Next"></pagination-controls>
          </div>
        </div>

        <div class="col-lg-3 col-12 learts-mb-10 order-lg-1">
          <!-- Search Start -->
          <div class="single-widget learts-mb-40">
            <div class="widget-search">
              <form action="#">
                <input type="text" placeholder="Search products...." [(ngModel)]="searchTerm" name="searchTerm">
                <button (click)="searchProductByName()"><i class="fas fa-search"></i></button>
              </form>
            </div>
          </div>
          <!-- Search End -->

          <!-- Categories Start -->
          <div class="single-widget learts-mb-40">
            <h3 class="widget-title product-filter-widget-title">Product categories</h3>
            <ul class="widget-list">
              <li *ngFor="let category of categories">
                <a (click)="searchCategories(category.categoryId)">{{ category.nameCategory }}</a>
              </li>
            </ul>
          </div>
          <!-- Categories End -->

          <!-- Price Range Start -->
          <div class="single-widget learts-mb-40">
            <h3 class="widget-title product-filter-widget-title">Filters by price</h3>
            <div class="widget-price-range">
              <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
            </div>
              <p>Price : {{value}}$ - {{highValue}}$</p>
              <button>Filters</button>
          </div>
          <!-- Price Range End -->
        </div>

      </div>
    </div>
  </div>

</div>
<!-- Shop Products Section End -->
